
<div class="login-form">
    <form [formGroup]="registrationForm">
    <h1 class="text-center" class="text-danger">User Registration</h1>

    <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">Name</label> -->
        <input type="text" class="form-control" formControlName="Username" id="exampleFormControlInput1" placeholder="Username" [class.is-invalid]="registrationForm.get('Username').touched && registrationForm.get('Username').invalid">
        <div *ngIf="registrationForm.get('Username').invalid && registrationForm.get('Username').touched">
          <small class="text-danger" 
          *ngIf="registrationForm.get('Username').errors?.required">Username is Required*</small>
          <small class="text-danger"
          *ngIf="registrationForm.get('Username').errors?.minlength">Username name must be greater than 3 characters</small>
        </div>
      </div>
      <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">password</label> -->
        <input type="password" class="form-control" formControlName="Password" id="exampleFormControlInput1" placeholder="Password">
      </div>
      <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">conform password</label> -->
        <input type="password" class="form-control" formControlName="conformpassword" id="exampleFormControlInput1" placeholder="conformpassword">
      </div>
    <div formGroupName="address">
      <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">City</label> -->
        <input type="text" class="form-control" formControlName="City" id="exampleFormControlInput1" placeholder="City">
      </div>
      <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">Name</label> -->
        <input type="text" class="form-control" formControlName="State" id="exampleFormControlInput1" placeholder="State">
      </div>
      <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">conform password</label> -->
        <input type='text' class="form-control" formControlName="pincode" id="exampleFormControlInput1" pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/' placeholder='Pincode'  />
        <!-- <input type="pincode" class="form-control" id="exampleFormControlInput1" placeholder="pinCode"> -->
      </div>
    </div>
      

      <!-- <button class="btn btn-outline-primary mr-1" href="#">Sign up</button> -->
      <!-- <button class="btn btn-outline-primary" href="#">Login</button> -->


      <button type="submit" class="btn btn-primary" >Register</button>
      <button type="submit" class="btn btn-danger" style="margin-left: 20px" (click)="displayData()">Display</button>
    </form>

</div>
<div>
  {{registrationForm.value | json}}
  </div>
