<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-for></app-for> -->
<!-- <app-class></app-class> -->
<!-- <app-parent></app-parent> -->
<!-- <app-observable></app-observable> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="dummi" routerLinkActive="active" class="nav-link"> Employees list</a>
          </li>
          <li class="nav-item dropdown">
            <a routerLink="insert" routerLinkActive="active" class="nav-link">Create Employee</a>
          </li>
          <li class="nav-item">
            <a routerLink="insert" routerLinkActive="active" class="nav-link">Update Employee</a>
          </li>
        </ul>
    </div>
</nav>
    <h1 class="text-center" class="mx-auto p-2" style="width: 200px;">Employee Details</h1>
<div class="container">
    <router-outlet></router-outlet>
   
</div>

<footer class="footer">
<div class="container">
    <span>Employee Details Website</span>
</div>

</footer>


 <!-- <app-mobiles-list></app-mobiles-list> -->
<!-- <app-add></app-add> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-dummi></app-dummi> -->
